@use 'sass:meta';

// @mixin frame-size($width, $height: $width) {
//   width: $width;
//   height: $height;
// }

// .avatar {
//   @include frame-size(150px);

//   border-radius: 50%;
// }

// .icon {
//   @include frame-size(50px);

//   border: 2px solid lightblue;
// }

// Arguments
// @mixin position-center {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .decoration {
//   @include position-center;
// }

@mixin position(
  $position-type,
  $position-x,
  $position-y,
  $offset-x,
  $offset-y
) {
  position: $position-type;
  top: $position-x;
  left: $position-y;
  transform: translate($offset-x, $offset-y);
}

.decoration {
  @include position(absolute, 50%, 50%, -50%, -50%);
}
